click==6.6
Flask==1.1.2
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==2.4.4
gunicorn==19.6.0
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
oauthlib==2.1.0
psycopg2==2.7.4
requests==2.25.1
requests-oauthlib==1.1.0
SQLAlchemy==1.0.14
urllib3==1.26.3
Werkzeug==1.0.1
