body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;

	width: 100%;
}

.img-responsive {
  display: inline;
}

#save_button {
	padding: 10px;
}

#logo {
	padding: 10px;
}