body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Futura", sans-serif;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

hr {
	width: 50%;
}

.img-responsive {
  display: inline;
}

#save_button {
	padding: 10px;
}

#recipient_page {
	size: 7in 9.25in;
  	margin: 27mm 16mm 27mm 16mm;
  	border: 1px;
}

#component_frame {
	background-color: #E7E7E7;
	padding:15px;
	padding-top: 109px;
}

#main_nav {
	padding: 10px;
}

#octotie {
    position: absolute;
    left: 25px;
    bottom: -93px;
}

#title {
    text-align: left;
    position: absolute;
    left: 95px;
    bottom: 4px;
    font-size: 105%;
}

.navbar-nav {
    float: right;
    height: 40px;
    margin: 0px;
    margin-right: 7px;
}

.navbar-nav>li>a {
    height: 40px;
    padding-top: auto;
    padding-bottom: auto;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.container {
    	width: inherit;
	}
}

@media (min-width: 992px) {
	.container {
		width: inherit;
	}
}

.container {
    padding-bottom: 9px;
    padding-top: 10px;
    margin: 0px;
}

.dropdown-menu {
	right: 0px;
	left: auto;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #ED6C26;
}

a:focus {
    outline: 5px auto #ED6C26;
    outline-offset: -2px;
}

textarea:focus {
    outline: 5px auto #ED6C26;
    outline-offset: -2px;
}

.btn-primary {
    background-color: #ED6C26;
    border-color: #C65B21;
}

.btn-primary:active {
    background-color: #C65B21;
    border-color: #ED6C26;
}

.btn-primary:focus {
    background-color: #C65B21;
    border-color: #ED6C26;
}

.btn-primary:active:focus {
    background-color: #C65B21;
    border-color: #ED6C26;
}

.btn-primary:hover {
	background-color: #C65B21;
	border-color: #AA4E1D;
}

.btn-primary:hover:disabled {
	background-color: #C65B21;
	border-color: #AA4E1D;
}

.fade.in {
    opacity: .8;
    display: block;
}

.modal-dialog {
    position: absolute;
    width: auto;
    margin: 10px;
    top: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
}

footer {
  margin: auto 1em 1em 1em;
  text-align: center;
  font-size: 1em;
}
